body {
    font-family: Verdana,sans-serif;
    font-size: 0.9em;
  }
  
  header, footer {
    padding: 0 0 0 10%;
    color: white;
    background-color: black;
  }
  
 section{
   
    margin: 5px;
    padding: 0 0 0 10%;
    background-color:lightgray;
  }
  
  article {
    margin: 5px;
    padding: 10px;
    background-color: white;
  }
  
  menu>ul {
    padding: 0;
  }
  
  menu>ul>li {
    display: inline;
    margin: 5px;
  }
  